.header{
    
    background-color: #ffffff;
}
.header__logo{
    width: auto;
    max-width: 100%;
    max-height: 8rem;
}
.header__logo-container{
    text-align: center;
    padding-top: 3rem;
}
.header__title{
    text-transform: capitalize;
    color:#ffffff;
    font-weight: 400;
    font-size: 2rem;
    margin: 1rem;
    font-family: "Lobster", sans-serif;
    text-decoration: none;
}
.header__title-selected{
    color:#bbb;
}

.header__title-containter{
    background: #425458;
}

.input-containter{
    padding:  0 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    /* padding:1rem; */
}
.input-containter__title{
    font-weight: 400; 
    font-size: 2rem;
    font-family: 'Monserrat', sans-serif;
    color:#425357;
    margin: 1rem;
}
.input-containter__input{
    margin: 1rem;
    min-width: 200px;
}

.MuiInput-underline:after {
    border-bottom: 2px solid #425357 !important;
}