
.dialog-title{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.dialog-title__title{

    font-size: 1.7rem;
}
.dialog-title__title-year{
    color:#c7c7c7;
}
.dialog-title__description{
    font-size: 0.9rem;
    color:#c7c7c7;
}

.MuiDialogTitle-root {
    background: #425458;
    color: #fff;
}

#loading-backdrop {
    z-index: 10 !important;
}