@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700");
@import url("https://fonts.googleapis.com/css?family=Lobster:400");

* {
    box-sizing: border-box;
}
html{
    height: 100%;
}

.MuiContainer-maxWidthMd {
    min-height: calc(100vh - 110px);
}

body {
    background-color: #eee;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
}


h1,h2,h3{
    color:#425458;
    font-weight: 400; 
    font-family: "Lobster", sans-serif;
}

.title{
    color:#425458;
}

.text-center{
    text-align: center;
}   

.bold{
   font-weight: 700; 
}

.displayBlock{
    display:block
}

.displayInlineBlock{
    display:inline-block
}

.home-content{
    text-align: center;
    width: 100%;
    color:#b3b3b3;
    padding: 0 1rem;
}
@media (min-width: 25rem) {
    .home-content{  
        padding: 0 5rem;
    }
}
.home-content-icon{
    text-align: center;
}
.home-content-icon .MuiSvgIcon-root{
    font-size: 16rem;
}
.home-content-text{
    font-family: "Lobster", sans-serif;
    font-size: 3rem;
}

.movies{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5rem 0;
}

.movies-poster{
    margin:1rem;
    width: 16rem;
    min-height: 23.5rem;
    position: relative;
    border: 1px solid #eee;
    overflow: hidden;
}


.movies-poster__image{
    width: 100%;
}

.movies-poster__overlay-content{
    position: absolute;
    bottom: 12%;
    background: rgba(255, 255, 255, 0.8);
    height: auto;
    width: 100%;
    padding: 0.5rem 1rem;
}
.movies-poster__overlay-button{
    height: 12%;
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    background: #353535;
    color:#fff;
    text-align: center;
    border:none;
    
}

.movies-poster__favorite-badge{
    position: absolute;
    top:0;
    right:0;
    margin:0;
    width: 12rem;
    transform: rotate(45deg) translate(3.5rem, -1rem);
    background: #425458;
    height: 1.8rem;
    text-align: center;
    color:#ffffff; 
}
.movies-poster__favorite-badge__text{
    color: rgba(74, 74, 74, 1);
    font-size: 1.2rem !important;
    font-weight: 700;
    cursor: pointer;
    color: inherit;
    background: none;
    border:none;
    text-transform: uppercase;
}
.movies-poster__favorite-badge:active,
.movies-poster__favorite-badge:hover{
    color: yellow;
    cursor: pointer;
}
.movies-poster__favorite-badge__yellow{
    color: yellow;
}

.movies-poster__overlay-button:active,
.movies-poster__overlay-button:hover
{
    background: #4d4d4d;
    cursor: pointer;
}
.movies-poster__overlay-button:focus {
    outline: none;
}

.MuiIconButton-root {
    background: #ffffff5e !important;
    color: rgba(74, 74, 74, 0.73);
}